force-app/main/default/flows/YS_SCR_SRE_DownloadSignedDocument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GET_SignedDocument</name>
        <label>Get Signed Document</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>YS_INVOCABLE_GetSignedDocument</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_CallResult</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>srIds</name>
            <value>
                <elementReference>recordId.ExternalId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>YS_INVOCABLE_GetSignedDocument</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>DEC_CallResult</name>
        <label>Call Result ?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SUB_DisplayError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>DEC_CallResult_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_SignedDocument.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_Success</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Download the signed document on a signature request</description>
    <environments>Default</environments>
    <formulas>
        <name>FORMULA_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; TEXT({!GET_SignedDocument.statusCode}) &amp; &quot;] &quot; &amp; {!GET_SignedDocument.errorMessage}</expression>
    </formulas>
    <interviewLabel>[YS] Download Signed Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[YS] Download Signed Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SCR_Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Success</name>
            <fieldText>&lt;p&gt;{!TTP_Success}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Document(s) downloaded&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_SignedDocument</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SUB_DisplayError</name>
        <label>Display Error</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>YS_SUB_SCR_ErrorMessage</flowName>
        <inputAssignments>
            <name>VARIN_ErrorMessage</name>
            <value>
                <elementReference>FORMULA_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VARIN_ErrorMessageHeader</name>
            <value>
                <stringValue>An unexpected error occured</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>TTP_Success</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.FlowStyles_NotificationSuccess}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>YS_SignatureRequest__c</objectType>
    </variables>
</Flow>
