force-app/main/default/flows/YS_SCR_SRE_SendManualReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>POST_SendReminder</name>
        <label>Send Reminder Call</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>YS.post-signature_requests-signatureRequestId-signers-signerId-send_reminder</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>DEC_CallResult</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SUB_DisplayError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>signatureRequestId</name>
            <value>
                <elementReference>recordId.ExternalId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>signerId</name>
            <value>
                <elementReference>GET_CurrentSigner.ExternalId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>YS.post-signature_requests-signatureRequestId-signers-signerId-send_reminder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>DEC_CallResult</name>
        <label>Call Result ?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SUB_DisplayCallError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC_CallResult_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POST_SendReminder.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_Success</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Send a manual reminder to the current Signer</description>
    <environments>Default</environments>
    <formulas>
        <name>FORMULA_CallErrorMessage</name>
        <dataType>String</dataType>
        <expression>&apos;[&apos; &amp; TEXT({!POST_SendReminder.responseCode}) &amp; &apos;] &apos;  &amp;
IF ({!POST_SendReminder.responseCode} = 400,
    {!POST_SendReminder.400Exc.detail},
    IF ({!POST_SendReminder.responseCode} = 401,
        &apos;Access unauthorized: &apos; &amp; {!POST_SendReminder.401Exc.detail},
        IF ({!POST_SendReminder.responseCode} = 403,
            &apos;Access forbidden&apos;,
            IF ({!POST_SendReminder.responseCode} = 404,
                &apos;Resource not found&apos;,
                {!POST_SendReminder.defaultExc}
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_SuccessMsg</name>
        <dataType>String</dataType>
        <expression>&quot;Reminder sent to &quot; &amp; {!GET_CurrentSigner.Name}</expression>
    </formulas>
    <interviewLabel>[YS] Send Manual Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[YS] Send Manual Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_CurrentSigner</name>
        <label>Get Current Signer</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POST_SendReminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SignatureRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>notified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>YS_Signer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCR_Success</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Success</name>
            <fieldText>&lt;p&gt;{!TTP_Success}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!FORMULA_SuccessMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_CurrentSigner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SUB_DisplayCallError</name>
        <label>Display Error</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <flowName>YS_SUB_SCR_ErrorMessage</flowName>
        <inputAssignments>
            <name>VARIN_ErrorMessage</name>
            <value>
                <elementReference>FORMULA_CallErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VARIN_ErrorMessageHeader</name>
            <value>
                <stringValue>Unable to send the reminder</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_DisplayError</name>
        <label>Display Error</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <flowName>YS_SUB_SCR_ErrorMessage</flowName>
        <inputAssignments>
            <name>VARIN_ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>TTP_Success</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.FlowStyles_NotificationSuccess}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>YS_SignatureRequest__c</objectType>
    </variables>
</Flow>
