force-app/main/default/flows/YS_SCR_SendSignatureRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Add a document to the Signature Request previously initialized. The document uses smart anchors. This is done by the YS_INVOCABLE_UploadDocument Apex class.
More information on the HTTP call performed here: https://developers.yousign.com/reference/post-documents</description>
        <name>APX_AddDocumentToSR</name>
        <label>Add Document to SR</label>
        <locationX>743</locationX>
        <locationY>674</locationY>
        <actionName>YS_INVOCABLE_UploadDocument</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_DocumentSentResult</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SUB_UnexpectedErrorManagement</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>CONST_ContentDocumentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nature</name>
            <value>
                <stringValue>signable_document</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>signatureRequestId</name>
            <value>
                <elementReference>POST_SignatureRequest.201.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useSmartAnchors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>YS_INVOCABLE_UploadDocument</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>https call to the /signature-requests/{signatureRequestId}/activate endpoint. More information here: https://developers.yousign.com/reference/post-signature_requests-signaturerequestid-signatures</description>
        <name>POST_ActivateSignature</name>
        <label>Activate Signature</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>YS.post-signature_requests-signatureRequestId-signatures</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>DEC_ActivateSr</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>signatureRequestId</name>
            <value>
                <elementReference>POST_SignatureRequest.201.id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>YS.post-signature_requests-signatureRequestId-signatures</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>https call to the /signature-requests/{signatureRequestId}/signers endpoint. We used the from Scratch option but you can use other options by storing the Yousign Contact or User Ids in Salesforce for mapping (e.g. in a custom field YS_ExternalId__c on each object)
See documentation here: https://developers.yousign.com/reference/post-signature_requests-signaturerequestid-signers.</description>
        <name>POST_CreateSigner</name>
        <label>Add Signer To Sr</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <actionName>YS.post-signature_requests-signatureRequestId-signers</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>DEC_AddSigner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SUB_UnexpectedErrorManagement</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>signatureRequestId</name>
            <value>
                <elementReference>POST_SignatureRequest.201.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VAR_SrSignerBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>YS.post-signature_requests-signatureRequestId-signers</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>https call to the /signature-requests endpoint. See documentation here: https://developers.yousign.com/reference/post-signature_requests</description>
        <name>POST_SignatureRequest</name>
        <label>Initiate SR</label>
        <locationX>1188</locationX>
        <locationY>458</locationY>
        <actionName>YS.post-signature_requests</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>DEC_PostInitiateSrResult</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SUB_UnexpectedErrorManagement</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VAR_SignatureRequestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>YS.post-signature_requests</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>SET_InitSrValues</name>
        <label>Set Init SR Values</label>
        <locationX>1188</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VAR_SignatureRequestBody.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_SrName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SignatureRequestBody.deliveryx5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SignatureRequestBody.timezone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.TimeZoneSidKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SignatureRequestBody.emailx5fcustomx5fnote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AREA_EmailCustomNote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SignatureRequestBody.emailx5fnotification.sender.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>custom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SignatureRequestBody.emailx5fnotification.sender.customx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMULA_UserFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POST_SignatureRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_SignerBody</name>
        <label>Set Signer Body</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>VAR_SrSignerBody.oneOfFromx5fScratchx5f1.info.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SrSignerBody.oneOfFromx5fScratchx5f1.info.firstx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SrSignerBody.oneOfFromx5fScratchx5f1.info.lastx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SrSignerBody.oneOfFromx5fScratchx5f1.info.locale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SrSignerBody.oneOfFromx5fScratchx5f1.signaturex5flevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>electronic_signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SrSignerBody.oneOfFromx5fScratchx5f1.signaturex5fauthenticationx5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no_otp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POST_CreateSigner</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CONST_ContentDocumentId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>069WU000002kTzdYAE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DEC_ActivateSr</name>
        <label>Activate SR Result</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>SUB_ErrorActivateSr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>DEC_ActivateSr_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POST_ActivateSignature.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INS_SignatureRequestSF</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_AddSigner</name>
        <label>Add Signer Result</label>
        <locationX>380</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>SUB_ErrorAddSigner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>DEC_AddSigner_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POST_CreateSigner.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POST_ActivateSignature</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_DocumentSentResult</name>
        <label>Document Sent Result</label>
        <locationX>743</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>SUB_ErrorAddDocument</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>DEC_DocumentSentResult_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APX_AddDocumentToSR.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_SignerBody</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PostInitiateSrResult</name>
        <label>Initiate SR Result</label>
        <locationX>1188</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SUB_ErrorInitiateSr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>DEC_PostInitiateSrResult_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POST_SignatureRequest.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APX_AddDocumentToSR</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Send a signature request with the demo document</description>
    <environments>Default</environments>
    <formulas>
        <description>Because char limits are not the same in Yousign and Salesforce</description>
        <name>FORMULA_DocumentNameSafe</name>
        <dataType>String</dataType>
        <expression>LEFT({!APX_AddDocumentToSR.yousignDocument.filename}, 80)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_ErrorMessageAddDocument</name>
        <dataType>String</dataType>
        <expression>&apos;[&apos; + TEXT({!APX_AddDocumentToSR.statusCode}) + &apos;] &apos; + {!APX_AddDocumentToSR.errorMessage}</expression>
    </formulas>
    <formulas>
        <name>FORMULA_ErrorMessageAddSigner</name>
        <dataType>String</dataType>
        <expression>&apos;[&apos; &amp; TEXT({!POST_CreateSigner.responseCode}) &amp; &apos;] &apos;  &amp;
IF ({!POST_CreateSigner.responseCode} = 400,
    {!POST_CreateSigner.400Exc.detail},
    IF ({!POST_CreateSigner.responseCode} = 401,
        &apos;Access unauthorized: &apos; &amp; {!POST_CreateSigner.401Exc.detail},
        IF ({!POST_CreateSigner.responseCode} = 403,
            &apos;Access forbidden&apos;,
            IF ({!POST_CreateSigner.responseCode} = 404,
                &apos;Resource not found&apos;,
                {!POST_CreateSigner.defaultExc}
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_ErrorMessageInitiateSr</name>
        <dataType>String</dataType>
        <expression>&apos;[&apos; &amp; TEXT({!POST_SignatureRequest.responseCode}) &amp; &apos;] &apos;  &amp;
IF ({!POST_SignatureRequest.responseCode} = 400,
    {!POST_SignatureRequest.400Exc.detail},
    IF ({!POST_SignatureRequest.responseCode} = 401,
        &apos;Access unauthorized: &apos; &amp; {!POST_SignatureRequest.401Exc.detail},
        IF ({!POST_SignatureRequest.responseCode} = 403,
            &apos;Access forbidden&apos;,
            IF ({!POST_SignatureRequest.responseCode} = 404,
                &apos;Resource not found&apos;,
                {!POST_SignatureRequest.defaultExc}
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <description>To hide functionalities unavailable in Sandbox</description>
        <name>FORMULA_InSandboxMode</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.YS_Configuration__c.IsSandbox__c}</expression>
    </formulas>
    <formulas>
        <name>FORMULA_IntroMessage</name>
        <dataType>String</dataType>
        <expression>IF ({!GET_SignatureRequests.Id} = null,
  &quot;Send your first signature request from this flow ⚡&quot;,
  &quot;Send a new signature request from this flow ⚡&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Because char limits are not the same in Yousign and Salesforce</description>
        <name>FORMULA_SignerNameSafe</name>
        <dataType>String</dataType>
        <expression>LEFT({!POST_CreateSigner.201.info.firstx5fname} &amp; &apos; &apos; &amp; {!POST_CreateSigner.201.info.lastx5fname}, 80)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_SrFieldSuccessScreen</name>
        <dataType>String</dataType>
        <expression>IF ({!FORMULA_InSandboxMode}, &quot;ExternalId__c,Name,Status__c,NbSigners__c&quot;, &quot;ExternalId__c,Name,Status__c,NbSigners__c,LinkInYousign__c&quot;)</expression>
    </formulas>
    <formulas>
        <description>Because char limits are not the same in Yousign and Salesforce</description>
        <name>FORMULA_SrNameSafe</name>
        <dataType>String</dataType>
        <expression>LEFT({!POST_SignatureRequest.201.name}, 80)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_UserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>[YS] Send Signature Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[YS] Send Signature Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>INS_SignatureRequestSF</name>
        <label>Create Signature Request in SF</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>INS_YsDocumentInSF</targetReference>
        </connector>
        <inputAssignments>
            <field>DeliveryMode__c</field>
            <value>
                <elementReference>POST_SignatureRequest.201.deliveryx5fmode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>POST_SignatureRequest.201.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_SrNameSafe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>POST_SignatureRequest.201.status</elementReference>
            </value>
        </inputAssignments>
        <object>YS_SignatureRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>INS_SignerInSF</name>
        <label>Create Signer in SF</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>SCR_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>DeliveryMode__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.deliveryx5fmode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.info.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.info.firstx5fname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.info.lastx5fname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.info.locale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_SignerNameSafe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.info.phonex5fnumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SignatureAuthenticationMode__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.signaturex5fauthenticationx5fmode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SignatureLevel__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.signaturex5flevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SignatureRequest__c</field>
            <value>
                <elementReference>INS_SignatureRequestSF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>POST_CreateSigner.201.status</elementReference>
            </value>
        </inputAssignments>
        <object>YS_Signer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>INS_YsDocumentInSF</name>
        <label>Create YS Document in SF</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>INS_SignerInSF</targetReference>
        </connector>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>APX_AddDocumentToSR.yousignDocument.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSigned__c</field>
            <value>
                <elementReference>APX_AddDocumentToSR.yousignDocument.isx5fsigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_DocumentNameSafe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>APX_AddDocumentToSR.yousignDocument.nature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SignatureRequest__c</field>
            <value>
                <elementReference>INS_SignatureRequestSF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAnchors__c</field>
            <value>
                <elementReference>APX_AddDocumentToSR.yousignDocument.totalx5fanchors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPages__c</field>
            <value>
                <elementReference>APX_AddDocumentToSR.yousignDocument.totalx5fpages</elementReference>
            </value>
        </inputAssignments>
        <object>YS_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get signature request to know if it is the first one</description>
        <name>GET_SignatureRequests</name>
        <label>Get Signature requests !</label>
        <locationX>1188</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SRC_SrConfiguration</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>YS_SignatureRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCR_Success</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Success</name>
            <fieldText>&lt;p&gt;{!TTP_Success}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Document sent for signature 🚀&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TXT_Info</name>
            <fieldText>&lt;p&gt;{!TTP_Info}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You can also see the Signature Request directly in your Yousign Application&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FORMULA_InSandboxMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CMP_DisplaySrInfo</name>
            <extensionName>c:ys_util_displayRecordInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>align</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <elementReference>FORMULA_SrFieldSuccessScreen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:record_signature_task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>YS_SignatureRequest__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>INS_SignatureRequestSF</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Signature Request</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send a new one !</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SRC_SrConfiguration</name>
        <label>SR Configuration</label>
        <locationX>1188</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SET_InitSrValues</targetReference>
        </connector>
        <fields>
            <name>TXT_InitSuccess</name>
            <fieldText>&lt;p&gt;{!TTP_Success}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!FORMULA_IntroMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TXT_SrHeader</name>
            <fieldText>&lt;p&gt;{!TTP_SectionHeader}&lt;/p&gt;&lt;p&gt;Signature Request Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IN_SrName</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>My First Signature Request</stringValue>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CHK_UseEmailCustomNote</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Use email custom note</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AREA_EmailCustomNote</name>
            <defaultValue>
                <stringValue>Hello from Salesforce</stringValue>
            </defaultValue>
            <fieldText>Email custom note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: URWGeometric, Arial, sans-serif; color: rgb(0, 16, 26);&quot;&gt;This note will be added to the emails sent to the recipients.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CHK_UseEmailCustomNote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TXT_SignerHeader</name>
            <fieldText>&lt;p&gt;{!TTP_SectionHeader}&lt;/p&gt;&lt;p&gt;Signer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CMP_DisplayUserInformation</name>
            <extensionName>c:ys_util_displayRecordInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Title,Email,Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:user</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>FORMULA_UserFullName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send Signature Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1062</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_SignatureRequests</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SUB_ErrorActivateSr</name>
        <label>Error Screen Activate SR</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <flowName>YS_SUB_SCR_ErrorMessage</flowName>
        <inputAssignments>
            <name>VARIN_ErrorMessage</name>
        </inputAssignments>
        <inputAssignments>
            <name>VARIN_ErrorMessageHeader</name>
            <value>
                <stringValue>Signature Request Activation Error</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_ErrorAddDocument</name>
        <label>Error Screen Add Document</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <flowName>YS_SUB_SCR_ErrorMessage</flowName>
        <inputAssignments>
            <name>VARIN_ErrorMessage</name>
            <value>
                <elementReference>FORMULA_ErrorMessageAddDocument</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VARIN_ErrorMessageHeader</name>
            <value>
                <stringValue>Document Upload Error</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_ErrorAddSigner</name>
        <label>Error Screen Add Signer</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <flowName>YS_SUB_SCR_ErrorMessage</flowName>
        <inputAssignments>
            <name>VARIN_ErrorMessage</name>
            <value>
                <elementReference>FORMULA_ErrorMessageAddSigner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VARIN_ErrorMessageHeader</name>
            <value>
                <stringValue>Add Signer Error</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_ErrorInitiateSr</name>
        <label>Error Screen Initiate Sr</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <flowName>YS_SUB_SCR_ErrorMessage</flowName>
        <inputAssignments>
            <name>VARIN_ErrorMessage</name>
            <value>
                <elementReference>FORMULA_ErrorMessageInitiateSr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VARIN_ErrorMessageHeader</name>
            <value>
                <stringValue>Signature Request Initialization Error</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_UnexpectedErrorManagement</name>
        <label>Unexpected Error Management</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <flowName>YS_SUB_SCR_ErrorMessage</flowName>
        <inputAssignments>
            <name>VARIN_ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VARIN_ErrorMessageHeader</name>
            <value>
                <stringValue>An unexpected error happened</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>TTP_Info</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.FlowStyles_NotificationInfo}</text>
    </textTemplates>
    <textTemplates>
        <name>TTP_SectionHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.FlowStyles_SectionHeader}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TTP_Success</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.FlowStyles_NotificationSuccess}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TTP_Warning</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.FlowStyles_NotificationWarning}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>VAR_SignatureRequestBody</name>
        <apexClass>ExternalService__YS_CreateSignatureRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_SrSignerBody</name>
        <apexClass>ExternalService__YS_CreateSigner</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
