force-app/main/default/flows/YS_TRG_YSE_EventManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>SET_SignerValues</name>
        <label>Set Signer values</label>
        <locationX>798</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>GET_Signer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMULA_SignerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Signer.LastEventDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Datetime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_Signer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_SrValues</name>
        <label>Set SR Values</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>GET_SR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMULA_SrStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_SR.LastEventDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Datetime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_SignatureRequest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_CreateTask</name>
        <label>Create a task ?</label>
        <locationX>798</locationX>
        <locationY>710</locationY>
        <defaultConnectorLabel>Nothing left to do</defaultConnectorLabel>
        <rules>
            <name>DEC_CreateTask_Create</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>link_opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sender_contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>identification_blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>identity_saved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INS_Task</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_ManualReminder</name>
        <label>Manual Reminder ?</label>
        <locationX>182</locationX>
        <locationY>710</locationY>
        <defaultConnectorLabel>Other Event</defaultConnectorLabel>
        <rules>
            <name>DEC_ManualReminder_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>reminder_executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OngoingSigner</targetReference>
            </connector>
            <label>Manual Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_NewestEvent</name>
        <label>Newest event ?</label>
        <locationX>336</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DEC_NewestEvent_Newest</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_SR.LastEventDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_SR.LastEventDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Datetime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_SrValues</targetReference>
            </connector>
            <label>Newest</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_NewestEventSigner</name>
        <label>Newest Event ?</label>
        <locationX>952</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC_NewestEventSigner_Newest</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Signer.LastEventDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Datetime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GET_Signer.LastEventDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_SignerValues</targetReference>
            </connector>
            <label>Newest</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_ObjectEvent</name>
        <label>Object Event ?</label>
        <locationX>809</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Not supported</defaultConnectorLabel>
        <rules>
            <name>DEC_ObjectEvent_SR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>signature_request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SR</targetReference>
            </connector>
            <label>Signature Request</label>
        </rules>
        <rules>
            <name>DEC_ObjectEvent_Signer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>signer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Signer</targetReference>
            </connector>
            <label>Signer</label>
        </rules>
    </decisions>
    <description>Management of the platform event created following webhook receptions</description>
    <environments>Default</environments>
    <formulas>
        <name>FORMULA_ReminderSubject</name>
        <dataType>String</dataType>
        <expression>{!GET_OngoingSigner.Name} &amp; &quot; - Manual Reminder sent&quot;</expression>
    </formulas>
    <formulas>
        <name>FORMULA_SignerStatus</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK({!$Record.Status__c}),
   TEXT({!GET_Signer.Status__c}),
  {!$Record.Status__c}
)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_SignerTaskSubject</name>
        <dataType>String</dataType>
        <expression>{!GET_Signer.Name} &amp; &quot; &quot; &amp;
CASE({!$Record.Type__c},
  &quot;signer.link_opened&quot;, &quot;consulted document&quot;,
  &quot;signer.sender_contacted&quot;, &quot;asked for a change&quot;,
  &quot;signer.identification_blocked&quot;, &quot;failed the identity verification&quot;,
  &quot;error&quot;, &quot;failed to sign due to an internal error&quot;,
  &quot;signer.identity_saved&quot;, &quot;saved their digital identity&quot;,
  {!$Record.Type__c}
)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_SrStatus</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK({!$Record.Status__c}),
  IF (CONTAINS({!$Record.Type__c}, &apos;permanently_deleted&apos;),
    &apos;deleted&apos;,
   TEXT({!GET_SR.Status__c})
  ),
  {!$Record.Status__c}
)</expression>
    </formulas>
    <interviewLabel>[YS] Event Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[YS] Event Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>INS_ReminderTask</name>
        <label>Create Reminder Task</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Datetime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FORMULA_ReminderSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GET_SR.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>INS_Task</name>
        <label>Create Task</label>
        <locationX>666</locationX>
        <locationY>818</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Datetime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FORMULA_SignerTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GET_Signer.SignatureRequest__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_OngoingSigner</name>
        <label>Get Ongoing Signer</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>INS_ReminderTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SignatureRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_SR.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>notified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>YS_Signer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Signer</name>
        <label>Get Signer</label>
        <locationX>952</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_NewestEventSigner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>YS_Signer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SR</name>
        <label>Get SR</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_NewestEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>YS_SignatureRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD_SignatureRequest</name>
        <label>Update Signature Request</label>
        <locationX>182</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>DEC_ManualReminder</targetReference>
        </connector>
        <inputReference>GET_SR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_Signer</name>
        <label>Update Signer</label>
        <locationX>798</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>DEC_CreateTask</targetReference>
        </connector>
        <inputReference>GET_Signer</inputReference>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_ObjectEvent</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>YS_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
